header 
	ul
		li: a(href="https://jp.leagueoflegends.com/ja/").header-top top 
		li: a(href="https://jp.leagueoflegends.com/ja/featured/new-player-guide").header-about about
		li: a(href="https://www.google.co.jp/maps/place/Riot+Games+Inc/@33.9858841,-118.3886753,19.46z/data=!4m14!1m8!3m7!1s0x80c2b7547312dc35:0xe8791f5fa96f4e50!2sRiot+Games+Inc!8m2!3d33.986016!4d-118.388687!9m1!1b1!3m4!1s0x80c2b7547312dc35:0xe8791f5fa96f4e50!8m2!3d33.986016!4d-118.388687?hl=ja").header-map map
h1 League of Legends